* {
	color: white;
	font-family: "hk", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
		メイリオ, sans-serif;
}

body {
	background-color: #131313;
}

/*Home page*/

#scroll-control {
	margin-right: 0px;
	margin-left: 0px;
	align-items: center;
	text-align: center;
	clear: both;
	margin-bottom: 10px;
}

#scroll-control img {
	clear: both;
	margin-top: 10px;
}
.main-content {
	margin-bottom: 80px;
}

#left-content img {
	margin-top: -90px;
}

#siteintro {
	background: rgba(38, 38, 38, 0.4);
	margin-top: -240px;
	padding-left: 90px;
}

#siteintro h5 {
	/*font-family: 'Niconne', cursive;*/
	font-size: 18px;
}
#siteintro h1 {
	font-family: "Niconne", cursive;
	font-size: 50px;
}

#siteintro p {
	font-size: 15px;
	text-align: left;
}

#left-content {
}

#right-content {
	padding-left: 30px;
}

#indexintropic {
	clear: both;
	float: left;
	margin-left: 80px;
	margin-top: 50px;
}
#indexroutes {
	float: right;
	clear: both;
	margin-top: 15px;
	margin-right: 150px;
}
#indexmap1 {
	float: right;
	margin-top: -190px;
	clear: both;
	margin-right: 90px;
}

.major-content {
	margin-top: 30px;
	overflow: hidden;
}
.content {
	overflow: scroll;
	box-sizing: border-box;
	height: 450px;
}

#callbacksDiv {
	position: fixed;
	top: 50px;
	left: 50px;
	color: white;
	z-index: 999;
}

#callbacksDiv p {
	font-size: 1.2em;
}
#callbacksDiv h4 {
	font-size: 1.4em;
	font-weight: bold;
	color: white;
	text-decoration: underline;
}
/*Voices*/
.main-nav {
	background-color: firebrick;
	text-align: left;
	line-height: 510%;
	margin-left: 8%;
	font-size: 1.4em;
	margin-top: 5%;
}
.main-nav img {
	float: left;
}
.main-nav ul {
	float: left;
}
.filter-cover {
	width: 100%;
	height: 100%;
	filter: blur(2px);
}
.section0 {
	background: url(./Assets/background/section0.jpg);
}
/*Plots*/

/*Costumes*/

/*Historical Figure*/
